@if (User.Identity.IsAuthenticated)
{
<ul class="navbar-nav">
    <li>
        <span class="navbar-text">Hello, @User.Identity.Name</span> &nbsp;
        <a onclick="document.getelementById('logout_form').submit();">Logout</a>
    </li>
</ul>
} else {
<ul class="navbar-nav">
    <li><a asp-controller="Account" asp-action="Login">Log in</a></li>
</ul>
}